/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;

Light Gray: hsl(0, 0%, 75%)
Light Grayish Blue: hsl(240, 75%, 98%)
Moderate Cyan: hsl(170, 45%, 43%)
Bright Blue: hsl(224, 93%, 58%)
Desaturated Blue: hsl(238, 22%, 44%)
Very Dark Blue: hsl(243, 87%, 12%)
*/
body {
    margin: 0;
}
header {
    display: flex;
    align-items: center;
}
header img {
    height: 100%;
    width: 100px;
    margin: 20px 0 20px 20px;
}
header ul {
    list-style-type: none;
    margin: 20px 20px 20px auto;
    display: flex;
}
header ul li {
    display: inline;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}


#ilu1 {
    width: 100%;
    margin-top: 50px;
}
#getStarted {
    margin: 30px;
}
#getStarted h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: hsl(243, 87%, 12%);
    line-height: 1.5em;
}
#getStarted p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: hsl(243, 87%, 12%);
    line-height: 1.6em;
}
#getStarted input {
    width: 100%;
    padding: 10px 0px 10px 20px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    border: solid 1px hsl(243, 87%, 12%);
    border-radius: 5px;
}

#getStarted button {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    background-color: hsl(224, 93%, 58%);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
}

#curve-mobile {
    width: 100%;
    position: relative;
    bottom: -5px;
}
#dark-section {
    background-color: hsl(240, 75%, 98%);
    width: 100%;

}
#ilu2 {
    width: 100%;
    margin-top: 40px;
}

#dark-section h4 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: hsl(243, 87%, 12%);
}
#dark-section p {
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(238, 22%, 44%)
}

#dark-section a {
    text-align: center;
    display: block;
    color: hsl(170, 45%, 43%);
    font-family: 'Open Sans', sans-serif;
    text-underline-offset: 7px;
    margin: 10px;
}
#dark-section a img {
    position: relative;
    top: 3px;
    left: 4px;
}

#card {
    background-color: white;
    border-radius: 5px;
    margin: 30px;
    padding: 10px 20px; 
    box-shadow: 0 0 20px 10px #e8e7e7;
}

#card h1 {
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
    margin: 0;
}
#card p {
    margin: 0;
    color: hsl(243, 87%, 12%);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1.7em;
    padding-bottom: 10px;
}
#card img {
    display: inline-block;
    border-radius: 100%;
    width: 40px;
    position: relative;
    top: 4px;
    
}
#profile {
    display: inline-block;
    margin-left: 5px;
}

#profile h5 {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
#profile p {
    font-size: 0.7em;
}

#early-access {
    padding: 30px;
    background-color: hsl(238, 22%, 44%);
}
#early-access h2 {
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}
#early-access p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}
#early-access input {
    width: 100%;
    padding: 10px 0px 10px 20px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    border: solid 1px hsl(243, 87%, 12%);
    border-radius: 5px;
}

#early-access button {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    background-color: hsl(224, 93%, 58%);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
}

footer {
    padding: 50px;
    background-color: hsl(243, 87%, 12%);
    color: white;
    font-family: 'Open Sans', sans-serif;
}
#footer-1 #logo {
   filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(217deg) brightness(105%) contrast(103%);
   margin: 20px 0;
}
#footer-1 .icon{
    padding-right: 15px;
    position: relative;
    top: 2px;
}

#footer-2, #footer-3 {
    margin: 50px 0;
}
footer ul {
    padding: 0;
}

footer ul li {
    list-style-type: none;
    line-height: 3em;
}
footer .social {
    height: 25px;
    width: 25px;
    border: solid 1px black;
    border-radius: 100%;
    padding: 5px;
    filter: invert(100%) sepia(2%) saturate(0%) hue-rotate(217deg) brightness(105%) contrast(103%); 
    margin: 5px;
}
#footer-4 {
    display: flex;
    justify-content: center;
}